.menu-container {
    position: relative;
    text-align: center;
}

.character-image {
    width: 300px;
    height: auto;
    margin-bottom: 20px;
}

.button-container {
    position: relative;
    width: 100%;
    height: 0px; /* This might need to be increased if buttons are too close vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-button {
    position: absolute;
    width: 100px;
    height: auto;
    transition: transform 0.3s;
}

/* Adjusted translations for spreading out the buttons */
.menu-button:nth-child(1) {
    transform: rotate(20deg) translate(150px, 50px); /* Increase horizontal translation */
}
.menu-button:nth-child(2) {
    transform: translate(0, 70px); /* Center button positioned slightly lower */
}
.menu-button:nth-child(3) {
    transform: rotate(-20deg) translate(-150px, 50px); /* Increase horizontal translation */
}
